<div class="masthead grid_12 clearfix">
  <table border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td>
        <a href="/"><img src="/images/logo_no_date.png"></a>
      </td>
      <td>
        <h1>BW Construction of Boulder</h1>
        <h4>Remodeler &amp; General Contractor since 1989</h4>
      </td>
      <td>
        <img src="/images/donna_and_randy.png" alt="">
      </td>
    </tr>
  </table>
  
  <nav>
    <ul>
      <li><a href="/" class="<%= "selected" if @nav_home %>">Home</a></li>
      <li><a href="/gallery/" class="<%= "selected" if @nav_gallery %>">Gallery</a></li>
      <li><a href="/about/" class="<%= "selected" if @nav_about %>">About Us</a></li>
      <li><a href="/testimonials/" class="<%= "selected" if @nav_testimonials %>">Testimonials</a></li>
      <li><a href="/resources/" class="<%= "selected" if @nav_resources %>">Resources</a></li>
      <li><a href="/process/" class="<%= "selected" if @nav_process %>">Process</a></li>
      <li><a href="/contact/" class="<%= "selected" if @nav_contact %>">Contact Us</a></li>
      <li style="float:right;font-size:0.8375em;line-height:2.625em;color:#666;">(303) 449-3298 &bull; info@bw-construction.com</li>
    </ul>
  </nav>
</div>