<nav>
  <a href="/"><img src="/images/logo.png"></a>
  
  <ul>
    <li><a href="/" class="<%= "selected" if @nav_home %>">Home</a></li>
    <li><a href="/gallery/" class="<%= "selected" if @nav_gallery %>">Gallery</a></li>
    <li><a href="/about/" class="<%= "selected" if @nav_about %>">About Us</a></li>
    <li><a href="/process/" class="<%= "selected" if @nav_process %>">Our Process</a></li>
    <li><a href="/testimonials/" class="<%= "selected" if @nav_testimonials %>">Testimonials</a></li>
    <li><a href="/resources/" class="<%= "selected" if @nav_resources %>">Resources</a></li>
    <li><a href="/contact/" class="<%= "selected" if @nav_contact %>">Contact Us</a></li>
  </ul>
  
  <hr>
  
  <ul class="contact">
    <li>303-449-3298</li>
    <li>info@bw-construction.com</li>
  </ul>
</nav>